*{
 box-sizing: border-box;   
 padding: 0;
 margin: 0;
}

body{
    background-color: black; 
}
/* header/nav/hero settings */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    height:max-content;
    color: red;
}

header h1{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
    
}

header nav {
    padding:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
}

ul li {
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    justify-content: space-between;
    padding:10px;

}

.hero{
    width: 100%;
    height:25vh;
    background-image: url("./images/IMG_0060.jpeg");
    background-size: cover;
    background-position: center;
    margin-bottom: 1px; 
}
/* main section settings */
main{
    margin:10px;
    width:100%;
    padding:14px;
}
.content{
    display:flex;
    padding:15px;
    color:red
}

h2{
    font-size:large;
    padding:15px;
   
}

p{
    font-size:20px;
    margin:15px; 
    padding:20px;
    border-left:6px solid red;
    color:red
}

/* image and icon settings */
 .images { 
    border-left: 6px solid red;
    margin: 15px; 
}

.project-card{
    display:flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-evenly;
    padding:20px;
    margin:30px;
    border: 6px solid red; 
    color: red
}
.overlay{
    position:relative;
    text-align: right;
    background-color: red; 
    color:antiquewhite;
    width:max-content

}
/* footer properties */
footer {
    margin:11px;
    padding:15.5px;
}

.footer-section{
    display:flex;
    padding:5px;
    width:100%;
    color:red

}

footer h2{
    text-align:left;
    margin: left 8px;
}
footer ul  {
    display:flex;
    flex-wrap: wrap;
    margin:11px;
    padding:11px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    justify-content: space-between;
    border-left:6px solid black;
}

footer ul li {
    margin-left:80px;
    margin-right: 80px;
    padding: 10px 20px 20px 5px;

}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
   
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
  
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
  
  }